/* vim:set tabstop=4 shiftwidth=4 expandtab: */
/**
 *
 * LICENSE: GNU Affero General Public License, version 3 (AGPLv3)
 * Copyright 2001 - 2019 Ampache.org
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

/* -------------------------------
            Base Styles
---------------------------------- */

@font-face {
    font-family: 'DejaVuSansCondensed';
    src: url('fonts/dejavusanscondensed.eot?') format('embedded-opentype'),  url('fonts/dejavusanscondensed.woff') format('woff'), url('fonts/dejavusanscondensed.ttf') format('truetype'), url('fonts/dejavusanscondensed.svg#DejaVuSansCondensed') format('svg');
}

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html {
    color: #222;
    font-size: 62.5%;
    line-height: 1.4;
}

body {
    font-size: 1.6rem;
    font-family: "DejaVuSansCondensed",Helvetica,Arial,sans-serif;
    font-weight: normal;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 .5em 0;
}



/* -------------------------------
            General
---------------------------------- */

div#maincontainer {
    display: flex;
    flex-direction: column;
}

div#content, div#loginbox {
    margin: .5em;
}

div#ajax-loading {
    margin: .5em;
}



/* -------------------------------
            Header
---------------------------------- */

div#header {
    display: flex;
}

#headerlogo {
    width: 128px;
    height: 128px;
    margin: auto;
    display: block;
    background-size: contain;
}

#headerlogo::before {
    display: none;
}

div#header.header-float #headerlogo {
    width: 48px;
    height: 48px;
}

#header svg {
    width: 48px;
    height: 48px;
}

#mobileheader {
    padding-bottom: 1em;
}



/* -------------------------------
            Footer
---------------------------------- */

div#footer {
    text-align: center;
}



/* -------------------------------
            Login Page
---------------------------------- */

div#loginbox,
body#registerPage > div#maincontainer {
    padding: 1em 0em;
    font-size: 2rem;
}

div#loginbox > h2 {
    display: none;
}

div.loginfield {
    padding-bottom: 1em;
}

form div.loginfield:nth-child(3) {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

div#remembermefield {
    font-size: .8em;
}

div.loginoptions {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 1.25em;
    /* border-top: .1em solid #ff9d00; */
    font-size: .8em;
}

div.loginoptions > a {
    margin: auto;
}



/* -------------------------------
            Forgot Password
---------------------------------- */

div#submit-lostpassword {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1em;
}



/* -------------------------------
            Register
---------------------------------- */

#registerPage div#header {
    order: 2;
}

#registerPage div#header > a {
    margin: auto;
}

#registerPage div#content {
    order: 1;
}

div.agreementContent {
    margin: 0 0 .5em 0;
}

div.registerfield, div.submit-registration {
    padding-bottom: 1em;
}

div.submit-registration {
    display: flex;
    justify-content: space-between;
}


/* -------------------------------
            Main Page
---------------------------------- */

body#main-page {

}

div#notification {

}

div#notification.notification-out {
    display: none;
}

div#header.header-float {

}

div#autoupdate {
    padding: .5em;
    width: 100%;
    word-break: break-all;
    font-size: .8em;
}

div#autoupdate > p {
    margin: 0;
}

div#autoupdate > span {
    display: block;
    color: red;
    font-size: 1.2em;
}

div#ajax-loading {

}



/* -------------------------------
            Sidebar
---------------------------------- */

#sidebar {
    height: 100%;
    width: 0; /* Changed using JS */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s;
}

#sidebar.show {
    width: 200px;
}

#sidebar.sidebar-collapsed.show {
    width: 100px;
}

#sidebar-tabs li {
    display: inline;
}

#sidebar-page {
    float: left;
    width: 100%;
}

#sidebar-page li {
    display: block;
}

#sidebar-page svg {
    float: right;
    transform: rotate(90deg);
    transition: .1s;
}

#sidebar-page svg.expanded {
    transform: rotate(-90deg);
}

.sb2 > .collapsed > .sb3 {
    display: none;
}

.sb2 .expanded > ul {
    display: block;
}

.sb2 .header {
    padding: 0 .5em;
}

.sb3 {
    padding: 0 0 .5em 1em;
}

.openbtn {
    cursor: pointer;
}

#sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

div#sidebar-content svg {
}

div#sidebar-content.sidebar-content-collapsed {
    display: none;
}

div#sidebar-content-light {
    display: none;
}

div#sidebar-content-light.sidebar-content-light-collapsed {
    display: unset;
}

svg.header-img.expanded {

}

svg.header-img.collapsed {

}

#sidebar-header.sidebar-header-collapsed > svg.icon {
    transform: rotate(.5turn);
}



/* -------------------------------
       Albums of the Moment
---------------------------------- */

div.box_random_albums ul {
    list-style-type: none;
}

div.box_random_albums > div > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-row: 1fr;;
    row-gap: 1em;
    column-gap: .5em;
    justify-items: center;
    align-content: space-between;
}

div.random_album {
    width: 100%;
}

div.random_album > .art_album > .item_art > a > img {

}

.album_name {
    font-size: .8em;
}

li.current-rating {
    display: none;
}



/* -------------------------------
       Recently Played
---------------------------------- */

.box_recently_played thead,
.box_recently_played tfoot {
    display: none;
}

.box_recently_played tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "song username lastplayed"
        "album artist artist";
    padding: .5em 0;
    justify-items: start;
    align-items: center;
    padding: .5em 1em;
    margin-bottom: 1em;
    transition: 0.3s;
}

.box_recently_played .box-content {
}

.box_recently_played tr:last-child {
    border-bottom: none;
}

.tabledata {
    width: 100%;
}

.box_recently_played td {
    padding: 0 .25em;
}

.activeMediaTable td.cel_play {
    display: none;
    grid-area: play;
}

.cel_song {
    grid-area: song;
}

.cel_album {
    grid-area: album;
}

.cel_artist {
    grid-area: artist;
}

.activeMediaTable td.cel_year {
    display: none;
    grid-area: year;
}

.cel_username {
    grid-area: username;
}

.cel_lastplayed {
    grid-area: lastplayed;
}

.activeMediaTable td.cel_add {
    display: none;
    grid-area: add;
}



/************************************************/
/*        Styles for the star ratings           */
/************************************************/

.star-rating ul,
.star-rating a:hover,
.star-rating .current-rating {
    background: url(../images/ratings/star_rating.png) left -1000px repeat-x;
}
.star-rating ul {
    position:relative;
    width:80px;
    height:15px;
    overflow:hidden;
    list-style:none;
    margin:0;
    padding:0;
    background-position: left top;
}

.star-rating li {
    display: inline;
}



/* -------------------------------
            Inputs
---------------------------------- */

input {
    border: none;
    font-size: inherit;
    border-radius: 2px;
}

input[type="submit"],input[type="checkbox"] {
    cursor: pointer;
    padding: .2em .4em;
}

input[type="text"],input[type="password"] {
    height: 1.5em;
    width: 100%;
    padding: .2em;
    border-radius: 7px;
}

div > input.button {
    min-width: 5em;
    padding: .2em;
}

a:hover {
    text-decoration: underline;
}

a.button, a#donate {
    padding: .2em .4em;
    min-width: .5em;
    /* border: 1px solid #ff9d00; */
}



/* -------------------------------
            Icons/Images
---------------------------------- */

svg.icon,
.sb2 svg {
    height: 28px;
    width: 28px;
}

svg.image {
    height: 48px;
    width: 48px;
}
